@CHARSET "UTF-8";

.liste_boite ul {
  margin:0em;
  padding:0em;
  list-style-type:none;
}
.liste_boite li div {
  display: inline-block;
  width: 30%;
/*  float: left;*/
}
.liste_boite li div:first-of-type {
width:1em;
}
.liste_boite li ul {
  margin-left:2em;
  padding:0em;
}
.liste_boite li ul li div {
  display: inline-block;
  width: 20%;
/*  float: left;*/
}
.liste_boite li ul li div:first-of-type {
width:20%;
}