html, body {
    height: 100%;
    /*Cyril proposition police */
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	line-height:1.2em;
	font-size:small;
}
body {
	background-color:#FFDA8C; 
	
}
/*Bandeau Titre*/
.bandeau {
	width:100%;
	height:180px;
	text-align:center;
}

/* Ensemble du menu */
.menu {
padding-left:20%;

	text-align:center;
}
#menu {
	font-weight : bold; 
    font-family : Arial; 
    font-size : 14px; 
}
/* Menu principal */
#menu, #menu ul {
	padding : 0; 
	list-style : none; 
    line-height : 30px;
    text-align : center;
}
 /* Elements du menu principal */ 
#menu li {
	display: block;
	width:14%;
    float : left;
    border-right : 1px solid transparent; /* bordure transparente à droite de chaque élément */
}
 /* Contenu des éléments du menu principal */
#menu li a {
	border-radius:5px 5px;
    display : block; /* change le type d'élément, les liens deviennent des balises de type block */
    padding : 0; 
    background : #1D702D;        
    color : #fff;
    text-decoration : none; 
}
/* Lorsque la souris passe sur un des liens du menu principal */ 
#menu a:hover   {
	border-radius:5px 5px;
	color: #009533; 
	background: #fff; 
}
 /* Sous-menu */
#menu li ul {
	position: absolute; 
    visibility:hidden;
    margin:0;
}
 
 /* Éléments de sous-menu */
#menu li ul li {
    border-top : 1px solid transparent; 
	display: block;
	clear:both;
	font-size : 12px;
	text-align:center;
}

/* Contenu des éléments du sous-menu */
#menu li ul li a {
	border-radius:5px 5px;
    display : block; /* change le type d'élément, les liens deviennent des balises de type block */
    background : #00B82D;      
    color : #fff; 
    text-decoration : none; 
    width:140px;
}        

 /* Sous-menu lorsque la souris passe sur un élément du menu ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul {
     visibility:visible; 
}

/*déblocage du float left du menu*/
.retour {
	clear:both;
}
/*corps de la page */
.corps {
	position:relative;
	min-height: 100%
}

/*contenu des pages*/
#contenu {
	width:70%;
	margin-left:30px;
	float:left;
}
p {
	padding: 10px;
}
h2 {
	color:#FF5900;
	text-align:center;
}
.colonne { 
	float : left;  
	width : 30%; 
	border-right : 1px dashed #009533; 
	padding : 0 1% 1% 1%; 
	text-align:justify;
}
/* contenu formulaire */
#contenu form #problemes {
	display: inline ;
	color:red;
}
#contenu legend {
	font-style:italic;
} 

#contenu form {
	display:block;
	width:500px;
	/*centrer*/
	margin-left:auto;
	margin-right:auto;
	
}
form td {
	padding-bottom:4px;
	padding-top:4px;
	padding-left:4px;
}
td + td {
	width:100px;
}
input {
	min-width:100px;
}

#contenu .readonly {
	color:#BAB5AB;
}
/*liste des liens partenaires*/
dt {
	font-weight:bold;
	font-size:17px;
	margin-top:5%;
		
}
dd {
	font-weight:600;
	color:#00980B;
	padding-top:2%;
}

/*image des liens partenaires*/
img#part {
  vertical-align:middle;
  padding-right:2em;
  width:16%;
}

/*menu sur la droite*/
#droite {
	float:left;
	height:100%;	
}
div#droite div {
	width:240px;
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
}
#nouveaux, #tchat {
	border: 1px solid;
}
/* lapiphone */
#lapiphone {
	position: absolute;
	left: 30px;
	bottom: 30px;
	text-align:center;
	
}
#lapiphone > * {
	width:150px;
	margin-right:auto;
	margin-left:auto;
}
#phone {
	/*height:322px;*/
	border: 1px solid #666666;
	background-color: #080808;
	padding:8px;
	border-radius:5px;
	-moz-border-radius:5px; /* Old Firefox */
	font-family: arial, verdana, sans-serif;
	font-size:small;
}
#phone > div {
	margin-bottom:2px;
}
#phone form span {
	color:white;
	margin-left:0px;
	text-align:left;
}
#phone select {
	width:140px;
}
#phone input {
	margin:2px;
}
#messages_div {
	height:150px;
	position:relative;
	border: 1px solid black;
	background-color: #F5F6CE;
	color:#120A2A;
	text-align:left;
	overflow: auto;
}
#phone .id {
	color:blue;
}
#phone .centrer {
	margin-right:auto;
	margin-left:auto;
	width:140px;
}
#phone .gauche {
	margin-left:0px;
	text-align:left;
}
#phone .sup {
	position:absolute;
	visibility:hidden;
	background-color: #F5F6CE;
	top:0px;
	left:0px;
	z-index:2;
}
/* lapin */
div.profil_lapin {
	width:260px;
	border:1px solid white;
	background-color:#ffebbf;
	padding:1em;
}
div.profil_lapin h2 {
	text-align:center;
}
div.profil_lapin img {
	height: 120px;
	/*float:right;*/
}
div.profil_lapin dl * {
	color:black;
	font-size: small;
	font-weight: normal;
}
div.profil_lapin dt {
	text-decoration:underline;
}
/* article */
article {
	width:600px;
	margin-left:auto;
	margin-right:auto;
	padding:1em;
	border:1px solid black;
	background-color:#ffe3a6;
}

/*pied de page*/
footer {
	position:absolute;
	color:#009533;
	width: 100%;
	bottom:0;
	text-align: center;
	font-size : 13px; 
}
footer a {
	color:#009533;
}


	
